# Gradle files
.gradle
build/

# Local files
local.properties

# Keystore file
/my-release-key.keystore

# Keystore properties file
/keystore.properties

# IDE files
.idea/
.project
.classpath
*.iml

# Android files
/app/build
/build
captures/
.cxx/
*.hprof
